FORMBAR_ADDRESS = https://formbeta.yorktechapps.com
THIS_URL = http://bazinga/login
AUTH_URL = https://formbeta.yorktechapps.com/oauth
OWNER_PIN = 420
SESSION_SECRET = FortniteBattlePass
PORT = 300,000,000